[Unit]
Description=Configure Sphere Link ACM-only FPV bridge
After=systemd-modules-load.service
Before=wifibroadcast.service wifibroadcast@gs.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/sphere-quest-acm-gadget start
ExecStop=/usr/local/sbin/sphere-quest-acm-gadget stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
